<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="Scripts/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js" ></script>
    <script type="text/javascript" src="~/Scripts/Bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    @Html.Partial("Header")
    @RenderBody()
    @Html.Partial("Footer")
</body>
</html>
