<div class="sidebar-module sidebar-module-inset container-fluid">
    <table>
        <tr>
            <td>
                <address class="vcard">
                    <span class="adr" style="display:block">
                        <span class="street-address">25 Hale True Road</span>
                        <span style="display:block">
                            <span class="locality">Sandown</span>,
                            <span class="region">NH</span>
                            <span class="postal-code">03873</span>
                        </span>
                        <span class="region"><a href="mailto:John@nhexcavation.com">John@nhexcavation.com</a></span>
                    </span>
                </address>
            </td>
        </tr>
        <tr>
            <td>
                <ol class="list-unstyled">
                    <li>
                        <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.93c9003dd72a6cd9f4fee1e5eb3546c1.en.html#_=1417993544249&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=nhexcavation&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 237px; height: 20px;"></iframe>
                    </li>
                </ol>
            </td>
        </tr>
    </table>



</div>