<footer>
    <div class="container border">
        <p class="pull-right text-muted"><a href="#">Back to top</a></p>
        <p class="text-muted">&copy; Select Excavation and Landscaping, LLC</p>
    </div>
</footer>