<div class="container border">
    <div class="col-sm-6">
        <h2>About Us</h2>
        <p>Our official business name is Select Excavation and Landscaping LLC.&nbsp; NH Excavation is a lot easier to remember and saves time on the keyboard when you're visiting our website.</p>
        <p>Select Excavation and Landscaping is owned and operated by John Ferreira, located in downtown Sandown New Hampshire.&nbsp; John has been the primary caretaker of the grounds at Zorvino Vineyard, also located in Sandown NH for the past 5 years.</p>
        <p>John has been building his business on the side since that beginning, and serves several dozen residential properties during the winter, and manages several commercial properties plowing needs as well.</p>
        <p>John's commitment to a fair price and excellent work are what make Select Excavation and Landscaping stand out from the rest.&nbsp; John's energy, experience and hands-on approach produce results that have clients returning year after year.</p>
        <p>Beginning April, 2010, Select Excavation and Landscaping will offer Sandown, Chester, Hampstead, Danville and the surrounding communies online ordering of landscaping materials, including (but not limited to) bark mulch, loam, gravel and decorative stone.</p>
    </div>
    <div class="col-sm-6">
    </div>
</div>
