<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script type="text/javascript" src="~/Scripts/Views/ReCaptcha.js"></script>
<script type="text/javascript" src="~/Scripts/Views/Index.js"></script>
<link href="~/Content/Contact.css" rel="stylesheet" />

<div class="container border">
    <div class="col-sm-5 col-sm-offset-3">
        @Html.Partial("ReCaptcha")
    </div>
    <div class="col-sm-3 col-sm-push-1">
        @Html.Partial("ContactInformation")
    </div>
</div>