<div class="container border">
    <div id="pagecontent">

        <h1>Testimonials</h1>
        <p><span style="font-size: 20px;">We hired John to help excavate a site for an above ground swimming pool.</span><br>John was great to work with from quote through project completion.  He landscaped about 1/3 of an acre for us and we couldn't happier with the outcome.  Work included grubbing, stump pulling and grinding, grading, filling, construction of a large rubble wall with steps, and finally seeding and mulching.  We highly recommend consulting with Select Excavating and Landscaping for your next project. <br> Matt &amp; Lisa Henry<br> <br> Hampstead, NH</p>

        <p>&nbsp;</p>

        <p><span style="font-size: 20px;">We hired John to help excavate a site for an above ground swimming pool.</span><br>John was the first contractor to come to our house and take a look at our yard and tell us what we could do with it, instead of what we couldn’t do with it.  In a very challenging site with ledge, an uphill leech field and a septic tank, he managed to level a beautiful area with a stone retaining wall that actually enhances our yard.  Our project was scheduled during the worst weather week of the summer but John and his team persevered even returning to complete their work early on a Saturday morning to meet timelines of other contractors we were working with.  John was very professional and courteous and his work is top quality.</p>

        <p>While installing the above ground pool, the pool installer commented "this is the best site that we’ve ever worked with” and “you could drive 18 wheelers out here".  He also commented that most home owners don’t go to this extent to prepare their sites, well we got lucky with John because he is the one responsible for the quality.  Not only will we recommend his work to others, we will continue to work with him for future projects.  Thanks John! <br><br> Steve and Jen Larco</p>

        <hr>
        <p><span style="font-size: 20px;">Dear John and Select Excavating Crew,</span></p>

        <p>My husband and I want to thank you all for the hard work you put into our property. The retaining wall looks great, but more importantly the drainage system behind it worked perfectly during this recent bout of rain. The drain you replaced in the center of our driveway withstood the weight of the wood pellet delivery truck yesterday, which is a relief considering that is how the original drain was destroyed in the first place We are extremely pleased and appreciate that the project was wrapped up within the exact time frame you promised.</p>

        <p>We wanted to mention that your professionalism was outstanding. I contacted six contractors for bids on this job. You were the first to return my call. I appreciated that you took almost a half an hour of your time to discuss the project and our needs and expectations. Only four of the six contractors ever showed to provide a quote. Your price was competitive and your plan for drainage was the most thorough out of all the approaches we heard.</p>

        <p>We recognize that our lot is extremely difficult being such a steep hill. We were impressed that you were able to work your equipment into the area without destroying our particularly long driveway. We appreciated that you repaired the one small piece of the driveway that was damaged and even repaired two spots that were damaged before you ever arrived.</p>

        <p>Thank you all so much! You were truly a pleasure to work with. We will absolutely recommend you to others and you will definitely be who we contact for future projects.    <br><br> Sincerely,<br> Angelina Chevalier</p>

        <hr>
        <p><span style="font-size: 20px;">John I want to thank you again for a great job done by you and your team.</span><br>Seldom do we get a pleasant surprise where contractors turn up when expected, finish when they said they would, charge what was expected and do so with such professionalism and courtesy to the home owners. I am delighted with the patio and would be more than happy to take calls from any prospective clients you may have who want to speak to a customer you have serviced.</p>

        <p><br> Great work, stay busy and stay in touch. There will be more to come.</p>

        <p><br> Regards,<br> Dave</p>

        <div class="clear"></div>

    </div>
</div>